## One sample T test

In [13]:
import pandas as pd
import numpy as np
import math 
from scipy.stats import ttest_1samp
import scipy.stats as stats

In [2]:
ages = [10,20,30,40,50,30,25,20,59,35,32,32,18,31,35,50,31,22,26,29,30,34,40, 30, 32, 233, 24, 25, 27, 42,41, 28,29,20,25,27,29]

In [3]:
ages_mean= np.mean(ages)

In [5]:
ages_mean

36.24324324324324

In [6]:
## Now we shall take a sample and apply one sample ttest.

sample_size=10
ages_sample = np.random.choice(ages,sample_size)

In [7]:
ages_sample

array([30, 29, 32, 31, 50, 40, 22, 32, 50, 42])

In [10]:
ttest, p_value = ttest_1samp(ages_sample,36.2432)

In [11]:
p_value

0.8837709015788178

In [12]:
if p_value<0.05:
    print('reject null hypothesis')
else:
    print('Accept null hypothesis')

Accept null hypothesis

In [28]:
## another example
np.random.seed(12)
school_ages = stats.poisson.rvs(loc=18, mu=35, size=1000)
ClassA_ages = stats.poisson.rvs(loc=18,mu=32,size=60)

In [29]:
ttest, p_value= ttest_1samp(a= ClassA_ages, popmean=np.mean(school_ages))

In [30]:
p_value

1.0288029934743737e-05

In [31]:
if p_value<0.05:
    print('reject null hypothesis')
else:
    print('Accept null hypothesis')

reject null hypothesis

## Two sample T test

In [32]:
np.random.seed(11)

Classb_ages = stats.poisson.rvs(loc=18, mu=30, size=60)

In [33]:
ttset, p_value = stats.ttest_ind(a=ClassA_ages,b = Classb_ages, equal_var=False )

In [34]:
if p_value<0.05:
    print('reject null hypothesis')
else:
    print('Accept null hypothesis')

Accept null hypothesis

In [35]:
p_value

0.10383753623368615

## Paired TTest : Check relationship of samples in same group.

In [36]:
weight1 = [25,30,28,34,26,32,51,30,45]

In [46]:
np.random.seed(14)
weight2 = weight1 + stats.norm.rvs(loc=-1.25,scale=5, size=9)

In [47]:
weight2

array([31.50669556, 29.14593012, 27.61988264, 32.38831717, 14.728353  ,
       31.47338907, 42.24415689, 29.80554725, 40.95897472])

In [48]:
ttest, p_value = stats.ttest_rel(a=weight1,b=weight2)

In [49]:
if p_value<0.05:
    print('reject null hypothesis')
else:
    print('Accept null hypothesis')

Accept null hypothesis

In [50]:
p_value

0.21285164625908126