## Feature Engineering. 

### Credit card fraud detection.

In [1]:
## Importing librarires required.

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
## Loading the dataset

dataset = pd.read_csv('creditcard.csv')

In [4]:
dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [3]:
## The dataset is higly imbalanced. We need to do sampling on the dataset after diving into X and y

## We shall divide the data into dependent and independent features.

X = dataset.drop('Class',axis=1)
y = dataset['Class']

In [4]:
## We shall split the data into training and test data.

from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test= train_test_split(X,y,train_size=0.75,random_state=1)

## Scaling the features using standardization.

In [5]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [6]:
X_train = pd.DataFrame(scaler.fit_transform(X_train),columns=X_train.columns)
X_test = pd.DataFrame(scaler.transform(X_test),columns=X_test.columns)

In [7]:
X_train.to_csv('X_train.csv')
y_train.to_csv('y_train.csv')

In [26]:
X_test.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
0,0.527036,-0.310360,-0.466868,-0.097936,-0.158306,1.465041,-1.513899,0.232496,-0.436080,0.328820,...,-0.253149,-0.101660,0.063741,0.621697,0.037430,-4.256956,-0.415687,0.164345,0.652962,-0.346489
1,-0.348615,-0.413833,0.798522,0.874418,0.019719,-0.208723,-0.489950,0.255866,0.363561,-0.637417,...,-0.011049,-0.174163,-0.506688,0.147733,0.660212,-0.500356,0.168653,0.400550,0.173857,-0.345727
2,-0.263466,-0.160726,0.677006,0.638063,-0.089239,0.409454,-0.398867,0.565236,-0.054140,-0.418282,...,0.267392,-0.414137,-1.066150,-0.202813,-0.818533,-0.034750,0.253802,0.613846,0.271795,-0.350096
3,-1.330777,-0.675658,0.616284,1.167609,-1.110968,-0.087773,-0.342830,0.545626,-0.026352,0.351916,...,0.409539,-0.299315,-0.576182,-0.391224,0.015215,0.446367,1.689938,0.243869,-0.014941,-0.289613
4,-0.294202,0.652348,0.373217,-0.379454,0.621189,0.042023,-1.103177,0.297797,-0.239449,-0.073899,...,-0.135654,-0.216980,-0.591872,-0.125780,0.425351,1.058535,0.770236,-0.083754,0.121281,-0.350617

## Since it is an Imbalanced dataset, we use SMOTETOMEK to do sampling

In [28]:
from imblearn.combine import SMOTETomek
from collections import Counter
os = SMOTETomek(0.5,n_jobs=-1)

X_train_os,y_train_os = os.fit_resample(X_train,y_train)
print(Counter(y_train))
print(Counter(y_train_os))

Counter({0: 213224, 1: 381})
Counter({0: 213224, 1: 106612})

In [40]:
y_train_os.to_csv('y_train_os.csv')

In [39]:
X_train_os.to_csv('X_train_os.csv')

In [41]:
X_test.to_csv("X_test.csv")

In [42]:
y_test.to_csv('y_test.csv')